on init
    export LD_LIBRARY_PATH /vendor/lib:/system/lib

on emmc-fs
    wait /dev/block/mmcblk0p13
    mount ext4 /dev/block/mmcblk0p13 /system rw barrier=1
    wait /dev/block/mmcblk0p14
    exec /system/bin/e2fsck -p /dev/block/mmcblk0p14
    mount ext4 /dev/block/mmcblk0p14 /data nosuid nodev barrier=1 auto_da_alloc

service rmt_storage /system/bin/rmt_storage
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage
