# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import init.qcom.usb.rc

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system

    mkdir /fota 0771 system system
    mkdir /fota2 0771 system system
    mkdir /kernellog 0771 system system
    mkdir /persist2 0771 system system
    mkdir /b2g 0771 system system
    mkdir /b2g-data 0771 system system

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864
#QCI Jay-Huang, 20120328, begin{
#sync efs to emmc when power off

on fs
    mount yaffs2 mtd@fota2 /fota2 nosuid nodev

on emmc-fs
    mount ext4 /dev/block/mmcblk0p13 /system rw remount
    mount ext4 /dev/block/mmcblk0p13 /system ro remount

    mount ext4 /dev/block/mmcblk0p17 /fota  nosuid nodev barrier=1
    mount ext4 /dev/block/mmcblk0p18 /fota2 nosuid nodev barrier=1
    mount ext4 /dev/block/mmcblk0p19 /kernellog nosuid nodev barrier=1
    mount ext4 /dev/block/mmcblk0p20 /persist2  nosuid nodev barrier=1

    chown system system /sys/devices/platform/rs300000a7.65536/force_sync
    chown system system /sys/devices/platform/rs300000a7.65536/sync_sts
    chown system system /sys/devices/platform/rs300100a7.65536/force_sync
    chown system system /sys/devices/platform/rs300100a7.65536/sync_sts
    chmod 0644 /sys/devices/platform/rs300000a7.65536/force_sync

    mount vfat /dev/block/mmcblk1p1 /sdcard
    mount ext4 loop@/mnt/sdcard/b2g/b2g-system.img /b2g
    mount ext4 loop@/mnt/sdcard/b2g/userdata.img /data

    chmod 0755 /system/b2g/b2g
    chmod 0755 /system/b2g/plugin-container
    chmod 0755 /system/b2g/updater

#}end, QCI Jay-Huang
on boot
# Clark
    #exec system/bin/btnvtool -O
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
# End
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chown bluetooth bluetooth /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    # Quanta, Clark, 20120222
    chown bluetooth bluetooth /dev/ttyHS1
    chmod 0666 /dev/ttyHS1
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.1/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.1/clock
    chown bluetooth bluetooth /dev/ttyMSM1
    chmod 0666 /dev/ttyMSM1
    # Quanta, Clark, add for fmt
    mkdir /data/misc/fmt 0777 system system

#/* FUJITSU:2011-04-28 TMS modify start */
    mkdir /data/tms 0777 system system
    mkdir /data/tms/dev 0775 system audio
#/* FUJITSU:2011-04-28 TMS modify end */

    setprop wifi.interface wlan0

    # Enable Bluetooth 802.11 PAL when Bluetooth is turned on
    setprop ro.config.bt.amp no

    #Set SUID bit for usbhub
    chmod 4755 /system/bin/usbhub
    chmod 755 /system/bin/usbhub_init

    #Remove SUID bit for iproute2 ip tool
    chmod 0755 /system/bin/ip

    #port-bridge
    chmod 0660 /dev/smd0
    chown system system /dev/smd0

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    # create symlink for fb1 as HDMI
    symlink /dev/graphics/fb1 /dev/graphics/hdmi

    # Remove write permissions to video related nodes
    chmod 0664 /sys/devices/virtual/graphics/fb1/hpd
    chmod 0664 /sys/devices/virtual/graphics/fb1/video_mode
    chmod 0664 /sys/devices/virtual/graphics/fb1/format_3d

    # Change owner and group for media server and surface flinger
    chown system system /sys/devices/virtual/graphics/fb1/format_3d

    #For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    #To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio7/accept_ra 2

    chown system system /sys/devices/platform/spi_qsd.0/spi0.0/state
    chmod 0644 /sys/devices/platform/spi_qsd.0/spi0.0/state

    chown system system /sys/class/leds/red/led_notify
    chown system system /sys/class/leds/red/led_color
    chown system system /sys/class/leds/green/led_notify
    chown system system /sys/class/leds/green/led_color
    chown system system /sys/class/leds/blue/led_notify
    chown system system /sys/class/leds/blue/led_color
    chown system system /sys/class/leds/red/delay_on
    chown system system /sys/class/leds/red/delay_off
    chown system system /sys/class/leds/green/delay_on
    chown system system /sys/class/leds/green/delay_off
    chown system system /sys/class/leds/blue/delay_on
    chown system system /sys/class/leds/blue/delay_off
    chown system system /sys/class/leds/yellow/brightness
    chown system system /sys/class/leds/yellow/delay_on
    chown system system /sys/class/leds/yellow/delay_off
    chown system system /sys/class/leds/magenta/brightness
    chown system system /sys/class/leds/magenta/delay_on
    chown system system /sys/class/leds/magenta/delay_off
    chown system system /sys/class/leds/cyan/brightness
    chown system system /sys/class/leds/cyan/delay_on
    chown system system /sys/class/leds/cyan/delay_off
    chown system system /sys/class/leds/white/brightness
    chown system system /sys/class/leds/white/delay_on
    chown system system /sys/class/leds/white/delay_off

    chmod 0660 /sys/class/graphics/fb0/gamma
    chown system audio /sys/class/graphics/fb0/gamma

    chown system system /sys/class/power_supply/battery/cradle_mode
    chown system system /sys/class/power_supply/battery/debug_level
    chown system system /sys/class/power_supply/battery/debug_MAX17040
    chown system system /sys/class/power_supply/battery/debug_SMB329B
    chown system system /sys/class/power_supply/battery/debug_temp
    chown system system /sys/class/power_supply/battery/debug_capacity
    chown system system /sys/class/power_supply/battery/camera_recording
    chown system system /sys/class/power_supply/battery/data_transmit
    chmod 0644 /sys/class/power_supply/battery/cradle_mode
    chmod 0644 /sys/class/power_supply/battery/debug_level
    chmod 0644 /sys/class/power_supply/battery/debug_MAX17040
    chmod 0644 /sys/class/power_supply/battery/debug_SMB329B
    chmod 0644 /sys/class/power_supply/battery/debug_temp
    chmod 0644 /sys/class/power_supply/battery/debug_capacity
    chmod 0644 /sys/class/power_supply/battery/camera_recording
    chmod 0644 /sys/class/power_supply/battery/data_transmit

    chown system system /sys/devices/platform/stk-oss/DBG/als_enable
    chown system system /sys/devices/platform/stk-oss/DBG/ps_enable
    chown system system /sys/devices/platform/stk-oss/DBG/lux
    chown system system /sys/devices/platform/stk-oss/DBG/ps_code_thd_h
    chown system system /sys/devices/platform/stk-oss/DBG/ps_code_thd_l
    chown system system /sys/devices/platform/stk-oss/DBG/ps_gain_setting
    chown system system /sys/devices/platform/stk-oss/DBG/ps_integral_time
    chown system system /sys/devices/platform/stk-oss/DBG/als_transmittance
    chown system system /sys/devices/platform/stk-oss/DBG/distance
    chown system system /sys/devices/platform/stk-oss/DBG/ps_sleep_time
    chown system system /sys/devices/platform/stk-oss/DBG/ps_led_driving_current
    chown system system /sys/devices/platform/stk-oss/lux
    chown system system /sys/devices/platform/stk-oss/als_enable
    chown system system /sys/devices/platform/stk-oss/distance
    chown system system /sys/devices/platform/stk-oss/als_delay_bin
    chown system system /sys/devices/platform/stk-oss/ps_enable
    chown system system /sys/devices/platform/stk-oss/ps_enable_bin
    chown system system /sys/devices/platform/stk-oss/ps_delay_bin
    chown system system /sys/devices/platform/stk-oss/als_enable_bin
    chmod 0644 /sys/devices/platform/stk-oss/DBG/als_enable
    chmod 0644 /sys/devices/platform/stk-oss/DBG/ps_enable
    chmod 0644 /sys/devices/platform/stk-oss/DBG/lux
    chmod 0644 /sys/devices/platform/stk-oss/DBG/ps_code_thd_h
    chmod 0644 /sys/devices/platform/stk-oss/DBG/ps_code_thd_l
    chmod 0644 /sys/devices/platform/stk-oss/DBG/ps_gain_setting
    chmod 0644 /sys/devices/platform/stk-oss/DBG/ps_integral_time
    chmod 0644 /sys/devices/platform/stk-oss/DBG/als_transmittance
    chmod 0644 /sys/devices/platform/stk-oss/DBG/distance
    chmod 0644 /sys/devices/platform/stk-oss/DBG/ps_sleep_time
    chmod 0644 /sys/devices/platform/stk-oss/DBG/ps_led_driving_current
    chmod 0644 /sys/devices/platform/stk-oss/lux
    chmod 0644 /sys/devices/platform/stk-oss/als_enable
    chmod 0644 /sys/devices/platform/stk-oss/distance
    chmod 0644 /sys/devices/platform/stk-oss/als_delay_bin
    chmod 0644 /sys/devices/platform/stk-oss/ps_enable
    chmod 0644 /sys/devices/platform/stk-oss/ps_enable_bin
    chmod 0644 /sys/devices/platform/stk-oss/ps_delay_bin
    chmod 0644 /sys/devices/platform/stk-oss/als_enable_bin
    chown system audio /sys/class/input/input2/oncall
    chmod 0664 /sys/class/input/input2/oncall

    chown system system /sys/devices/virtual/graphics/fb0/resume
    chown system system /sys/devices/virtual/graphics/fb0/reinit
    chown system system /sys/devices/virtual/graphics/fb0/data
    chown system system /sys/devices/virtual/graphics/fb0/suspend
    chown system system /sys/devices/virtual/graphics/fb0/cmd
    chown system system /sys/devices/platform/msm_fb.196609/leds/lcd-backlight/brightness
    chown system system /sys/devices/virtual/graphics/fb0/bl_level
    chmod 0644 /sys/devices/virtual/graphics/fb0/resume
    chmod 0644 /sys/devices/virtual/graphics/fb0/reinit
    chmod 0644 /sys/devices/virtual/graphics/fb0/data
    chmod 0644 /sys/devices/virtual/graphics/fb0/suspend
    chmod 0644 /sys/devices/virtual/graphics/fb0/cmd
    chmod 0644 /sys/devices/platform/msm_fb.196609/leds/lcd-backlight/brightness
    chmod 0644 /sys/devices/virtual/graphics/fb0/bl_level

# import cne init file
on post-fs
    export_rc /persist/init.cne.rc

    chown system system /fota
    chmod 0771 /fota
    chown system system /fota2
    chmod 0771 /fota2
    chown system system /kernellog
    chmod 0771 /kernellog
    chown system system /persist2
    chmod 0771 /persist2

    mkdir /persist2/Logs 0775 system radio

# FUJITSU:2012-01-10 USB start
    chown root aladin /dev/om
    chmod 0660 /dev/om
# FUJITSU:2012-01-10 USB end

    exec /init.mount_overlay.sh

# msm specific files that need to be created on /data
on post-fs-data
# FUJITSU:2012-01-19_[P]-11-2ND-GEN_GEN-121-LOG-SAVE-001_SPEC-GEN_ADD-S
    mkdir /persist/Logs 0775 system radio
# FUJITSU:2012-01-19_[P]-11-2ND-GEN_GEN-121-LOG-SAVE-001_SPEC-GEN_ADD-E
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    setprop wifi.interface wlan0

    #QCI YH add
    chmod 0770 /data/misc/wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    #QCI YH end
    # FUJITSU:2012-04-27 SensorHAL add start
    mkdir /data/sensors_server 0600 sensor sensor
    # FUJITSU:2012-04-27 SensorHAL add end

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    #Create the symlink to qcn wpa_supplicant folder for ar6000 wpa_supplicant
    mkdir /data/system 0775 system system

    #Create directories for wiper services
    mkdir /data/wpstiles/ 0755 shell
    mkdir /data/wiper 0755 location qcom_oncrpc

    #Create directories for gpsone_daemon services
    mkdir /data/misc/gpsone_d 0770 system system

    #Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps

    #Create directory from IMS services
    mkdir /data/shared 0755
    chown system system /data/shared

    #Create directory for FOTA
    mkdir /data/fota 0771
    chown system system /data/fota

    # Create /data/time folder for time-services
    mkdir /data/time/ 0700 system system

    setprop vold.post_fs_data_done 1

# FUJITSU:2012-01-20_[N]-12-1ST-GEN_GEN-121-SDCA-SPEC-001_SPEC-GEN_ADD-S
# Storage Configuration
    # SD_ONLY   : /mnt/sdcard(SD)
    # BUILTIN_SD: /mnt/sdcard(eMMC), /mnt/sdcard/external_sd(SD)
    # FUSE_SD   : fuse, /mnt/sdcard/external_sd(SD)
    setprop ro.STORAGE_CONFIG_TYPE SD_ONLY

# Export GPIO56 for fusion targets to enable/disable hub
service usbhub_init /system/bin/usbhub_init
   class late_start
   user root
   disabled
   oneshot

on property:ro.board.platform=msm7630_fusion
    start usbhub_init

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:bluetooth.isEnabled=true
    start btwlancoex
    start amp_load
    write /sys/class/bluetooth/hci0/idle_timeout 7000

on property:bluetooth.isEnabled=false
    start amp_unload

#Modify, run rmt_storage anyway
service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11 /dev/block/mmcblk0p17
    class core
    user root

on property:ro.emmc=1
    start rmt_storage

service hciattach /system/bin/sh /system/etc/init.is3.bt.sh
    class late_start
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

service bt-sap /system/bin/sapd 15
    class late_start
    disabled
    oneshot

service dund /system/bin/sdptool add --channel=1 DUN
    class late_start
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service bridgemgrd /system/bin/bridgemgrd
    class late_start
    user radio
    group radio
    disabled

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0
    class late_start
    user system
    group system inet
    disabled

on property:ro.baseband="msm"
    # Enable BT-DUN only for all msms
    setprop ro.qualcomm.bluetooth.dun true

service qmiproxy /system/bin/qmiproxy
    class late_start
    user radio
    group radio
    disabled

#/* FUJITSU:2012-03-27 WLAN/BT start */
#/* QCI Terry modify for DUN profile about connection problem */
service dun-bridge /system/bin/dun-bridge /dev/smd7 /dev/rfcomm0
    class main
    disabled
#/* FUJITSU:2012-03-27 WLAN/BT end */

service qmuxd /system/bin/qmuxd
    class late_start
    user radio
    group radio
    disabled

service netmgrd /system/bin/netmgrd
    class late_start
    disabled

service sensors /system/bin/sensors.qcom
    class late_start
    user root
    group root
    disabled

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

service btwlancoex /system/bin/sh /system/etc/init.qcom.coex.sh
    class late_start
    user bluetooth
    group bluetooth net_bt_admin inet net_admin net_raw
    disabled
    oneshot

service amp_init /system/bin/amploader -i
    class late_start
    user root
    disabled
    oneshot

service amp_load /system/bin/amploader -l 7000
    class late_start
    user root
    disabled
    oneshot

service amp_unload /system/bin/amploader -u
    class late_start
    user root
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dnl80211 -iwlan0 -puse_p2p_group_interface=1 -e/data/misc/wifi/entropy.bin
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -BKLG
    class main
    disabled
    oneshot

service wiperiface /system/bin/wiperiface
    user location
    group qcom_oncrpc
    oneshot

service gpsone_daemon /system/bin/gpsone_daemon
    class late_start
    user system
    group system qcom_oncrpc inet
    disabled

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    class late_start
    user root
    group system qcom_oncrpc
    disabled
    oneshot

on property:crypto.driver.load=1
     insmod /system/lib/modules/qce.ko
     insmod /system/lib/modules/qcedev.ko

on property:crypto.driver.load=0
     exec /system/bin/rmmod qcedev.ko
     exec /system/bin/rmmod qce.ko

service drmdiag /system/bin/drmdiagapp
    class late_start
     user root
     disabled
     oneshot

on property:drmdiag.load=1
    start drmdiag

on property:drmdiag.load=0
    stop drmdiag

service qcom-sh /system/bin/sh /init.qcom.sh
    class late_start
    user root
    oneshot

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    class late_start
    user root
    disabled
    oneshot

on property:sys.boot_completed=1
    start qcom-post-boot

service hdmid /system/bin/hdmid
    class late_start
    socket hdmid stream 0660 root system graphics
    disabled

# Quanta, Clark, add for fmt start
service fmtloader /system/bin/fmtloader
    disabled
# Quanta, Clark, add for fmt end

service abld /system/bin/mm-abl-daemon
    class late_start
    user system
    socket cscd stream 660 system system graphics
    group system graphics
    disabled

service ds_fmc_appd /system/bin/ds_fmc_appd -p "rmnet0" -D
    class late_start
    group radio wifi inet
    disabled
    oneshot

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

service ims_regmanager /system/bin/exe-ims-regmanagerprocessnative
    class late_start
    user system
    group qcom_oncrpc net_bt_admin inet radio wifi
    disabled

on property:persist.ims.regmanager.mode=1
    start ims_regmanager

on property:ro.data.large_tcp_window_size=true
    # Adjust socket buffer to enlarge TCP receive window for high bandwidth (e.g. DO-RevB)
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

service time_daemon /system/bin/time_daemon
    class late_start
    user root
    group root
    oneshot
    disabled

on property:persist.timed.enable=true
    start time_daemon

service sensors_server /system/bin/sensors_server
    class main
    user sensor
    group sensor input qcom_oncrpc system

on property:persist.fuse_sdcard=true
    start sdcard

service hcidump /system/bin/sh /system/etc/hcidump.sh
    user bluetooth
    group bluetooth system net_bt_admin net_admin
    disabled
    oneshot

